body {
    background-image: url(http://www.zingerbug.com/Backgrounds/background_images/blue_sand_stone.jpg);
}

h1 {
    font-family: 'Dosis', sans-serif;
    background-color: #4aaaa5;
    width: 240px;
    margin-left: 11.9%;
    transform: translateY(30px);
    color: white;
}

nav {
    margin-left: 56.2%;
}

.container {
    font-family: 'Dosis', sans-serif;
    background-color: lightgray;
    width: 960px;
    margin-left: 180px;
    height: 1500px;
}

a:hover {
    color: goldenrod;
}

a:active {
    color: red;
}

input {
    height: 40px;
    width: 600px;
    background-color: whitesmoke;
    color: goldenrod;
}

.message { 
    width: 600px;
    height: 200px;
    text-align: top;
}

.button {
    width: 80px;
    background-color: #4aaaa5;
    color: white;
    margin-right: 100%;
    
}

a {
    color: #777777;
}

@media (max-width:980px;) {

}

@media (max-width:768px;) {
p {
    font-size: 1.25rem;
}  
}

@media (max-width:640px;) {
p {
    font-size: 1.5rem;
    background-color: grey;
}
}